/*-- scss:defaults --*/
$body-bg: #151715;
$navbar-bg: #332e2f;
$navbar-fg: #e5fee0;
$navbar-hover-color: #eccd37;
$body-color: #f9faf5;
$code-block-bg: lighten(#000, 20%) !default;
$code-block-border-left: #a4c993;
$code-bg: $code-block-bg;
$code-color: #eccd37;
$sidebarTextColorDark: #e5fee0;
$headlineColorDark: #a4c993;
$headingColorDark: #a4c993;
$bodyLinkColorDark: #eccd37;
$navLinkColorDark: #eccd37;
$sidebarLinkColorDark: #e5bb67;
$footerTextColorDark: #a4c993;
$buttonTextColorDark: #cee4cf;
$buttonHoverTextColorDark: #151715;
$buttonBgColorDark: #ffffff;
$buttonHoverBgColorDark: #eccd37;
$borderColorDark: #cee4cf;
/*-- scss:rules --*/
h3, .quarto-category {
  color: $navLinkColorDark;
}

div.quarto-post .listing-categories .listing-category{
  color: lighten($navLinkColorDark, 30%);
  border-color: lighten($navLinkColorDark, 20%);
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #eccd37;
    width: 0%;
    content: "";
    height: 1px;
    transition: all 0.5s;
  }

.nav-footer a{
  color: #eccd37;
}

.nav-footer a::after{
  border-bottom: 1px solid #a4c993;
}

.nav-link{
  color: #a4c993;
}

.nav-link:hover {
  color: #a4c993;
}

a{
 color: #eccd37;
}
